.search{
    background: white;
    text-shadow: 4px 3px 20px rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vw;
    width: clamp(290px, 50vw, 1000px);

    svg{
        margin: 0 5px;
        height: 80%;
        width: 10%;
    }

    input{
        border: none;
        outline: none;
        margin-right: 10px;
        font-size: clamp(15px, 2.5vw, 45px);
        height: 100%;
        width: clamp(60%, 60%, 70%);
        cursor: text;
    }

    div{
        background-color: black;
        margin: 5px 5px 5px 0;
        padding: 5px 10px;
        border-radius: 50vw;
        font-size: clamp(15px, 2.5vw, 45px);
        height: 80%;
        width: clamp(30%, 30%, 20%);
        text-align: center;
        cursor: pointer;
    }
}