.mainHeader{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    height: 7.23dvh;

    .websiteLogo{
        font-weight: 500;
    
        span{
            font-weight: 100;
            color: rgba(255, 255, 255, 0.664);
        }
    }
    label{
        display:none;
        flex-direction:column;
        justify-content: center;
        width:45px;
        height: 45px;
        cursor:pointer;

        span{
            background: #fff;
            border-radius:10px;
            height:3px;
            margin: 10% 0;
            transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
        span:nth-of-type(1){
            width:50%; 
        } 
        span:nth-of-type(2){
            width:100%;
        }
        span:nth-of-type(3){
            width:75%; 
        }
        input[type="checkbox"]{
            display:none;
        }
        input[type="checkbox"]:checked ~ span:nth-of-type(1){
            transform-origin:bottom;
            transform:rotatez(45deg) translate(6px,0px)
        }
        input[type="checkbox"]:checked ~ span:nth-of-type(2){
            transform-origin:top;
            transform:rotatez(-45deg)
        }
        input[type="checkbox"]:checked ~ span:nth-of-type(3){
            transform-origin:bottom;
            width:50%;
            transform: translate(20px,-5px) rotatez(45deg);
        }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        
        li{
            margin-right: 30px;
            position: relative;
            color: white;
            transition: text-decoration 1s;
            cursor: pointer;
        }
        li::before, li::after{
            position: absolute;
            transition: all 0.35s ease;
        }
        li::before{
            top: 100%;
            display: block;
            height: 3px;
            width: 0%;
            content: "";
            background-color: white;
        }
        li::after{
            left: 0;
            top: 100%;
            padding: 0.5em 0;
            position: absolute;
            color: #ffffff;
            white-space: nowrap;
            max-width: 0%;
            overflow: hidden;
        }
        li:hover:before{
            opacity: 1;
            width: 100%;
        }
        li:last-child{
            margin-right: 0px;
        }
    }

    .mainHeaderRightDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        
        div{
            padding: 10px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.175);
            margin-right: 10px;
            cursor: pointer;
        }

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.175);
            height: 40px;
            width: 100px;
            cursor: pointer;

            svg{
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
        }
    }
    
}

@media only screen and (max-width: 500px) {
    .mainHeader{
        position: relative;
        z-index: 12;
        label{
            display:flex;
        }
        ul{
            display: none;
            justify-content: start;
            position: absolute;
            top: 17.6dvh;
            left: 0;
            width: 100%;
            height: 82.4dvh;
            flex-direction: column;
            background-color: rgb(38, 37, 37);
            z-index: 10;
            
            li{
                margin: 0 0 10px 0;
                padding: 7px;
                transition: none;
                background-color: rgba(255, 255, 255, 0.175);
                width: 100%;
                text-align: center;
            }
            li:first-child{
                margin-top: 10px;
            }
            li::before, li::after{
                display: none;
            }
        }
    
        .mainHeaderRightDiv{
            display: none;
            padding-top: 2dvh;
            position: absolute;
            top: 6.6dvh;
            left: 0;
            width: 100%;
            height: 11dvh;
            flex-direction: column-reverse;
            background-color: rgb(38, 37, 37);
            z-index: 11;
            
            div{
                text-align: center;
                width: 100%;
                border-radius: 0;
                background-color: rgba(255, 255, 255, 0.175);
                margin-right: 0;
            }

            span{
                border-radius: 0;
                height: 40px;
                width: 100%;
                margin-bottom: 10px;
    
                svg{
                    display: none;
                }
            }
        }
        
    }
  }